<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-yellow-100 mx-5 my-2">
    <nav class="flex justify-between items-center bg-yellow-200 px-5 py-5 rounded-md">
        <div class=""></div>
        <div class="text-white font-bold">
            <span class="mx-auto">Chat App</span>
        </div>
        {% if user.is_authenticated %}
        <div class="items-center text-white">
            <span class="px-3 py-3">Welcome, {{user.username}} !</span>
            <a href="{% url 'core:logout' %}" class="bg-yellow-400 rounded-lg hover:bg-yellow-600 px-3 py-3">Log Out</a>
        </div>
        {% else %}
        <div class="items-center text-white">
            <a href="{% url 'core:login' %}" class="px-3 py-3">Login</a>
            <a href="{% url 'core:signup' %}" class="bg-yellow-400 rounded-lg hover:bg-yellow-600 px-3 py-3">Sign Up</a>
        </div>
        {% endif %}
    </nav>

    <div class="flex justify-center items-center my-10">
        <div class="w-3/5 text-center"> 
            {% block content %}
          
        {% endblock content %}
        </div>
      </div>


    
</body>
</html>